<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div align="center">
    <h1>Admin's posts on Bloggr:</h1>
</div>
<br>
<!---view posts when logged in (edit mode)--->
<table class="table" border="1px" align="center">
    <tr>
        <th width="200px">Title</th>
        <th width="200px">Posted Date</th>
        <th width="200px">Actions</th>

        {% for post in posts %}
    <tr>
        <td width="200px" align="center">{{ post[1] }}</td>
        <td width="200px" align="center">{{ post[3] }}</td>
        <td width="200px" align="center"><a href='/edit'>Edit</a>

        <a href='/delete/{{ post[0]}}'>Delete</a></td>
    </tr>
    {% endfor %}
</table>
<br>
<br>

<!---button redirects to create post--->
<div style="text-align:center">
  <a href="/newpost">Create a new blog post</a>

</body>
</html>