<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/login">Log in</a>
  <a href="/login">Log out</a>
</div>


<div align="center">
<h2>Edit Post</h2>
    <form method='post' action='{{url_for("edit", post_id=datas.post_id)}}'>
        <label>Title</label>
          <input type='text' name='title' required class='form-control' value='{{datas.title}}'>
        </div>
        <div class='form-group'>
          <label>Content</label>
          <input type='text' name='content' required class='form-control' value='{{datas.content}}'>
        </div>
        <input type='submit' value='Publish Changes' class='btn btn-primary'>
      </form>
</div>

</body>
</html>